# These owners will be the default owners for everything in the repo.

# Team Doc Reviewers
*   @travelgateX/documentation-owner @travelgateX/grammar @travelgateX/customer @travelgateX/product-global @travelgateX/product
