# These owners will be the default owners for everything in the repo.

# Team Doc Reviewers
content/*.md  @travelgateX/product @travelgateX/product-global @travelgateX/customer @travelgateX/grammar @travelgateX/documentation-owner
