img[src$="#center"] {
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}

img[src$="#floatleft"] {
  float: left;
  margin: 0.7rem; /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

img[src$="#floatright"] {
  float: right;
  margin: 0.7rem; /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#TableOfContents ul {
  padding: 5px;
}

body {
  background-color: #f6f8f9 !important;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #182945 !important;
}

.material-box {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(216, 227, 232, 0.49);
  box-shadow: 1px 1px 3px 0 rgba(216, 227, 232, 0.49);
  border-radius: 2px;
}

.header-module {
  top: 54px;
  background-color: white;
  z-index: 3;
}

.bottom-header.header-module .nav-link {
  font-family: "Lato", sans-serif;
  color: #182945;
  border-bottom: 4px solid transparent;
  margin-right: 20px;
  padding: 12px;
}
.nav-link {
  display: block;
  padding: 0.5em 1em;
}

.bottom-header.header-module {
  border-bottom: 1px solid rgba(234, 239, 243, 0.6);
}

.bottom-header {
  position: fixed;
  width: 100%;
}

.menu-left,
.menu-right,
.content-center {
  float: left;
  padding: 0 15px;
  position: relative;
}

.menu-left {
  width: 20%;
}

iframe {
  width: 100%;
  height: 400px;
}

.menu-left nav {
  position: fixed;
  width: 250px;
}
.menu-right {
  width: 15%;
}

.menu-right nav {
  background: transparent;
  border-left: 2px solid #007bff;
  position: fixed;
}

.menu-right nav ul {
  list-style-type: none;
}
.pageTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(204, 213, 218, 0.6);
  margin-bottom: 40px;
  color: #292b2c;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400 !important;
}

h2{
  margin-top: 45px !important;
  margin-bottom: 10px !important;
}

h3{
  margin-top: 35px !important;
  margin-bottom: 10px !important;
}

.clear {
  clear: both;
}

.fa.fa-link{
  font-size: 24px;
  display: none;
}

/* nav.menu-nav {
  position: fixed;
  width:inherit;
  max-width:inherit;
} */

.content-center {
  width: calc(65%);
  text-align: justify;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1084px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}
.container.main {
  margin-top: 100px;
}
.mo-header {
  z-index: 10;
}

.mo-header .top-header .navbar {
  padding: 5px 30px;
}

.bg-primary {
  background: linear-gradient(135deg, #0754ae 0%, #0562ce 100%);
}

.iso-input-search .form-control {
  padding-left: 35px;
}

.iso-input-search input {
  margin-bottom: auto;
}
.iso-input-search .ico-label .fa {
  padding: 12px 12px;
  color: #b7c7cf;
}

nav.menu-nav ul {
  margin: 0px;
  padding: 0px;
}

nav a span {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
div.contenido {
  margin-left: 255px;
  margin-top: 53px;
}
nav.menu-nav ul li a {
  height: 30px;
  display: inline-block;
  width: 100%;
  padding: 0 5px;
}

nav.menu-nav ul li a:hover {
  background-color: white;
}
nav.menu-nav ul li a > * {
  vertical-align: middle;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand img {
  vertical-align: middle;
}

.iso-input-search .ico-label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.top-header > .navbar {
  padding: 5px 30px;
}

.iso-input-search {
  width: 40%;
}

.mo-header .top-header .navbar .iso-input-search {
  width: 40%;
}

.iso-input-search {
  position: relative;
}

pre {
  position: relative;
}
pre .copy-to-clipboard {
  position: absolute;
  right: 22px;
  top: 18px;
  background-color: #4f545a;
  color: #ccc;
  border: 1px solid #272a2c;
  border-radius: 2px;
}

pre .copy-to-clipboard:hover {
  background-color: #60666d;
  color: #fff;
}

.card {
  margin: 12px 20px 12px 0;
  padding: 0;
  position: relative;
  transition: all 0.3s;
  width: 235px;
}

.card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.card .inner-card {
  padding: 18px 12px;
}

.flex .card:hover {
  box-shadow: 0 4px 4px rgba(1,67,163,.24), 0 0 4px rgba(1,67,163,.12), 0 6px 18px rgba(43,133,231,.12);
  cursor: pointer;
  transform: translate3d(0,-2px,0);
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex .card .material-icons {
  color: #039be5;
  float: left;
  padding-right: 18px;
}

.flex .inner-card>div {
  display: table;
}

.material-icons {
  vertical-align: bottom;
}

.flex h3 {
  color: #637d88;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

a.card:hover {
  text-decoration: none;
}


.flex p {
  color: #637d88;
  font-size: 13px;
  line-height: 1.2em;
  margin: 6px 0;
  padding: 0;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}