<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{if .Params.title }}{{ .Params.title }}{{else}}{{ .Params.pagetitle }}{{end}} | {{ .Site.Title }}{{ end }}</title>
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s"/>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "original/head.html" . }}
    {{end}}
    <meta name="description" content="{{if .Params.description}}{{.Params.description}}{{end}}">
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="https://cdn.jsdelivr.net/fetch/0.9.0/fetch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.jsdelivr.net/react/15.4.2/react-dom.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/graphiql/0.11.11/graphiql.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/graphiql/0.11.11/graphiql.min.js"></script>
  </head>
  <body data-url="{{ .RelPermalink }}">

    {{ partial "content/header.html" . }}
    {{ partial "content/navbar.html" . }}
    <div id="navbar" class="menu-left">
      {{ partial "content/sidebar.html" . }}
    </div>
    <div class="content">
        <script>
            $(document).ready(function() {
              if(window.location.hash){
                var target = $(window.location.hash);
                $('html, body').animate({ scrollTop: target.offset().top - 120 }, 500);
              }
            })
      </script>
    <div id="searchbar" class="container iso-input-search">
        <div class="sb_search_div">
          <div class="ico-label">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <input data-search-input class="form-control" id="search-by" type="text" placeholder="Search docs..." style="border-bottom: 0px !important;">
        </div>
        <div class="sb_menu_div">
          <ul class="nav justify-content-end">
              <li class="page-sections-item">
                  <a class="page-sections-menu-head" href="javascript:void(0)" target="_blank">
                      <span><i title="Sections →" class="icon-menu"></i> Page sections</span>
                  </a>
                  <div class="page-sections-menu">
                      {{ .TableOfContents }}
                  </div>
                </li>
                <script>
                  $(document).ready(function() {
                    if (window.location.href.includes('/release-notes/changelog/')) {
                      const ids = [];
                      $('.content-center')
                        .find('h2')
                        .each(function() {
                          ids.push(this.id);
                        });

                      if (ids.length) {
                      $('.page-sections-item').css('visibility', 'visible');
                        $('.page-sections-menu').html(`
                              <nav id="TableOfContents">
                                <ul>
                                    <li>
                                        <ul class="changelog-menu">
                                            ${ids.map(
                                              id => `<li><a href="#${id}">${id}</a></li>`
                                            ).join('')}
                                        </ul>
                                    </li>
                                </ul>
                              </nav>
                              `);
                              
                      }
                    } else if ($('.page-sections-menu').children().length > 0) {
                      $('.page-sections-item').css('visibility', 'visible');
                    }

                    $('.page-sections-menu-head').click(function() {
                      $(this).toggleClass('active');
                      $('.page-sections-menu').slideToggle('fast');
                      return false;
                    });

                    $('#TableOfContents').on('click', 'a[href^="#"]', function() {
                      var target = $(this.hash);
                      let offset = 120;
                      // if (target.prop('tagName') === 'DIV') {
                        // offset = 0;
                      // }

                      $('html, body').animate({ scrollTop: target.offset().top - offset }, 500);
                      window.location.hash = target.attr('id');
                      $('.page-sections-menu').slideToggle('fast');
                      return false;
                    });
                  });
                </script>
            <li>
              <a href="https://slack.travelgatex.com/" target="_blank">
                <span>Chat <i title="Chat external" class="icon-share-alt"></i></span>
              </a>
            </li>
            <li>
              <a href="https://github.com/travelgateX/Issue-tracker" target="_blank">
                <span>Issues Tracker <i title="Issues traker external" class="icon-share-alt"></i></span>
              </a>
            </li>
            <li class="feed-menu-item"></li>
              <script>
                $(document).ready(function(){
                  if(window.location.href.endsWith('/changelog/')){
                    $('.feed-menu-item').html(`
                      <a href="${window.location.href}index.xml" target="_blank">
                        <span>RSS
                          <i title="RSS →" class="icon-feed"></i>
                        </span>
                      </a>
                    `).css('visibility', 'visible');
                  }
                })          
              </script>
            <li>
              <a href="https://api.travelgatex.com" target="_blank">
                <span>Playground
                  <i title="Play →" class="icon-control-play"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="pull-right iso-input-search" style="left:-9%; display:none">

      <div class="iso-input-search hidden-xs-down" style="width:30%">
        {{- if not .Site.Params.disableSearch}}
        <div class="ico-label">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input data-search-input class="form-control"  id="search-by" type="text" placeholder="Search docs..." style="border-bottom: 0px !important;">
        <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/functions.js" | relURL}}"></script>
        <script type="text/javascript">
            {{ if .Site.IsMultiLingual }}
            var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
            {{ else }}
            var baseurl = "{{.Site.BaseURL}}";
            {{ end }}
        </script>
        <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script> {{- end}}
      </div>
      <div style="border-bottom: 1px solid rgba(204, 213, 218, 0.6) !important;">
          {{/* <a href="https://slack.travelgatex.com" target="_blank" class="pull-right"><img alt="slack travelgatex" src="https://slack.travelgatex.com/badge.svg" /></a> */}}
            <ul class="nav navbar-nav navbar-right" style="display: inline-block;text-transform:  uppercase;color:  white;border-bottom: 1px solid rgba(204, 213, 218, 0.6) !important;width:  65%;padding-left: 35%;background: white;">
              <li><a href="https://slack.travelgatex.com/" target="_blank"><span>Chat</span></a></li>
              <li><a href="https://github.com/travelgateX/Issue-tracker" target="_blank"><span>Issues Tracker</span></a></li>
                  <li><a href="https://api.travelgatex.com" target="_blank"><span>Playground <i title="Play →" class="icon-control-play"></i></span></a></li>

          </ul>
        </div>
      </div>

      <div class="container main-container">
        <div class="container_row">
          <div class="content-center">
            <div class="p-4">
              <h1 class="pageTitle">{{if .Params.pagetitle }}{{ .Params.pagetitle }}{{else}}{{ .Params.title }}{{end}}</h1>

              {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
                {{ $File := .File }}
                {{ $Site := .Site }}
                {{ $HideGithubLink := .Params.hideGithubLink }}
                {{with $File.Path }}
                {{if not $HideGithubLink}}
              <div id="top-github-link">
                <a class="github-link" href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
                  <i class="fa fa-code-fork"></i>
                  {{T "Edit-this-page"}}
                </a>
              </div>
              {{end}}
                {{- end }}
              {{- end -}}

              {{ block "main" . }}
              {{ end }}
            </div>
            <div id="backgroundMenu"></div>
          </div>
          <!-- <div class="menu-right">
            <div>
              {{ .TableOfContents }}
            </div>
          </div> -->
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div style="left:20%;top:-100px;position:relative">
        {{ partial "content/related.html" . }}
    </div>

    {{ partial "next-prev-page.html" . }}
    {{ partial "content/footer.html" . }}
    <script src="{{"js/clipboard.min.js" | relURL}}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}"></script>
    <!-- <script src="{{"js/html5shiv-printshiv.min.js" | relURL}}"></script> -->
    <script src="{{"js/highlight.pack.js" | relURL}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- <script src="{{"js/modernizr.custom.71422.js" | relURL}}"></script> -->
    <script src="{{"theme-flex/script.js" | relURL}}"></script>
    <script src="{{"js/jquery-3.2.1.min.js" | relURL}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106994170-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-106994170-2');
  </script>
  </body>
</html>
