<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{if .Params.Pagetitle }}{{ .Params.Pagetitle }}{{else}}{{ .Params.Title }}{{end}} | {{ .Site.Title }}{{ end }}</title>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "original/head.html" . }}
    {{end}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body data-url="{{ .RelPermalink }}">
    {{ partial "content/header.html" . }}
    {{ partial "content/navbar.html" . }}
    <div class="container main">
      <div class="row">
        <div id="navbar" class="menu-left hidden-xs hidden-sm">
            {{ partial "content/sidebar.html" . }}
        </div>
        <div class="content-center">
          <div class="p-4">
            <h1 class="pageTitle">{{.Params.Title}}</h1>
            {{ block "main" . }}
            {{ end }}    
          </div>
          <div id="backgroundMenu"></div>
        </div>
        <div class="menu-right">
          <div>
            {{ .TableOfContents }}
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    {{ partial "content/footer.html" . }}
    <script src="{{"js/clipboard.min.js" | relURL}}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}"></script>
    <!-- <script src="{{"js/html5shiv-printshiv.min.js" | relURL}}"></script> -->
    <script src="{{"js/highlight.pack.js" | relURL}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- <script src="{{"js/modernizr.custom.71422.js" | relURL}}"></script> -->
    <script src="{{"theme-flex/script.js" | relURL}}"></script>
    <script src="{{"jquery-3.2.1.min.js" | relURL}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106994170-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-106994170-2');
  </script>
  </body>
</html>