<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{if .Params.title }}{{ .Params.title }}{{else}}{{ .Params.pagetitle }}{{end}} | {{ .Site.Title }}{{ end }}</title>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "original/head.html" . }}
    {{end}}
    <meta name="description" content="{{if .Params.description}}{{.Params.description}}{{end}}">
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body data-url="{{ .RelPermalink }}">

    {{ partial "content/header.html" . }}
    {{ partial "content/navbar.html" . }}
    <div id="navbar" class="menu-left">
      {{ partial "content/sidebar.html" . }}
    </div>
    <div class="content">
      <div class="iso-input-search hidden-xs-down">
        {{- if not .Site.Params.disableSearch}}
        <div class="ico-label">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input data-search-input class="form-control"  id="search-by" type="text" placeholder="Search docs...">
        <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/functions.js" | relURL}}"></script>
        <script type="text/javascript">
            {{ if .Site.IsMultiLingual }}
            var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
            {{ else }}
            var baseurl = "{{.Site.BaseURL}}";
            {{ end }}
        </script>
        <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script> {{- end}}
      </div>

      <div class="container">
        <div class="row">
          <div class="content-center">
            <div class="p-4">
              <h1 class="pageTitle">{{if .Params.pagetitle }}{{ .Params.pagetitle }}{{else}}{{ .Params.title }}{{end}}</h1>

              {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
                {{ $File := .File }}
                {{ $Site := .Site }}
                {{with $File.Path }}
              <div id="top-github-link">
                <a class="github-link" href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
                  <i class="fa fa-code-fork"></i>
                  {{T "Edit-this-page"}}
                </a>
              </div>
                {{- end }}
              {{- end -}}

              {{ block "main" . }}
              {{ end }}    
            </div>
            <div id="backgroundMenu"></div>
          </div>
          <div class="menu-right">
            <div>
              {{ .TableOfContents }}
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {{ partial "next-prev-page.html" . }}
    {{ partial "content/footer.html" . }}
    <script src="{{"js/clipboard.min.js" | relURL}}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}"></script>
    <!-- <script src="{{"js/html5shiv-printshiv.min.js" | relURL}}"></script> -->
    <script src="{{"js/highlight.pack.js" | relURL}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- <script src="{{"js/modernizr.custom.71422.js" | relURL}}"></script> -->
    <script src="{{"theme-flex/script.js" | relURL}}"></script>
    <script src="{{"js/jquery-3.2.1.min.js" | relURL}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106994170-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-106994170-2');
  </script>
  </body>
</html>