<footer id="footer_docs" role="contentinfo">
	<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
  <div class="top-footer hidden-sm-down">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-8 col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Reference</h5>
          <ul class="list-unstyled">
            <li><a title="Getting Started" target="_blank" href="https://docs.travelgatex.com/getting-started/">Getting Started</a></li>
						<li><a title="API Playground" target="_blank" href="https://docs.travelgatex.com/getting-started/playground/" >API Playground</a></li>
						<li><a title="Key Concepts" target="_blank" href="https://docs.travelgatex.com/getting-started/concepts/" >Key Concepts</a></li>
						<li><a title="Authentication" target="_blank" href="https://docs.travelgatex.com/travelgatex/security/overview/" >Authentication</a></li>
						<li><a title="API reference" target="_blank" href="https://docs.travelgatex.com/travelgatex/reference/" >API reference</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <h5 class="tit">Quickstart Guides</h5>
          <ul class="list-unstyled">
            <li><a title="TravelgateX" target="_blank" href="https://docs.travelgatex.com/travelgatex/tutorials/" >TravelgateX</a></li>
            <li><a title="HotelX" target="_blank" href="https://docs.travelgatex.com/hotelx/quickstart/" >HotelX</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-4" >
          <h5 class="tit">Support</h5>
          <div class="col-sm-3 col-md-2 col-lg-6" style="padding-left: 0;">
          <ul class="list-unstyled">
            <li><a title="Slack" target="_blank" href="https://slack.travelgatex.com/" >Slack</a></li>
            <li><a title="Jira Service Desk (Customer Support)" target="_blank" href="https://xmltravelgate.atlassian.net/servicedesk/customer/portal/7" >Customer Support</a></li>
            <li><a title="Issues Tracker" target="_blank" href="https://github.com/travelgateX/Issue-tracker" >Issues Tracker</a></li>
            <li><a title="Feature Request" target="_blank" href="https://github.com/travelgateX/Issue-tracker/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature+Request%22" >Feature Request</a></li>
            <li><a title="Roadmap" target="_blank" href="https://github.com/orgs/travelgateX/projects/4" >Roadmap</a></li>
            <li><a title="FAQ" target="_blank" href="https://docs.travelgatex.com/travelgatex/frequently-asked-questions/" >FAQ</a></li>
            <li><a title="Contact Us" target="_blank" href="https://www.travelgatex.com/contact" >Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-6">
        <ul class="list-unstyled">
        </ul>
      </div>
      <div class="col-sm-3 col-md-4 col-lg-6">
      <ul class="list-unstyled">
        <li><a title="Issues TravelgateX" target="_blank" href="https://github.com/travelgateX/Issue-tracker" ><img class="badge-img" src="https://img.shields.io/github/issues-raw/travelgatex/Issue-tracker.svg"></a></li>
				<li><a title="Closed Issues TravelgateX" target="_blank" href="https://github.com/travelgateX/Issue-tracker" ><img class="badge-img" src="https://img.shields.io/github/issues-closed-raw/travelgatex/Issue-tracker.svg"></a></li>
        <li><a title="Pull Requests TravelgateX" target="_blank" href="https://github.com/travelgateX/documentation-site" ><img class="badge-img" src="https://img.shields.io/github/issues-pr-raw/travelgatex/documentation-site.svg"></a></li>
        <li><a title="Pull Requests TravelgateX" target="_blank" href="https://github.com/travelgateX/documentation-site" ><img class="badge-img" src="https://img.shields.io/github/issues-pr-closed-raw/travelgatex/documentation-site.svg"></a></li>
        <li><a title="Github Last commit TravelgateX" target="_blank" href="https://github.com/travelgateX/documentation-site" ><img class="badge-img" src="https://img.shields.io/github/last-commit/travelgatex/travelgatex.github.io.svg"></a></li>
        <li><a title="Slack TravelgateX" target="_blank" href="https://slack.travelgatex.com/" ><img class="badge-img" src="https://slack.travelgatex.com/badge.svg"></a></li>


      </ul>
    </div>
        </div>


      </div>
    </div>
  </div>


  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="hidden-sm-down col-md-3 d-flex align-items-center">
				  <a title="TGX" target="_blank" href="https://www.travelgatex.com/">
            <img src="/images/xtg_logo.svg" alt="travelgatex_logo">
					</a>
        </div>
        <div class="col-xs-12 col-md-6">
          <p class="copyright text-center">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
        </div>
        <div class="hidden-sm-down col-md-3">
          <ul class="social social-circle">
						<li><a href="https://twitter.com/travelgatex" title="TravelgateX Twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/XmlTravelgate" title="TravelgateX Facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="https://www.linkedin.com/company/xml-travelgate" title="TravelgateX LinkedIn"><i class="icon-linkedin"></i></a></li>
					</ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
    $('#footer_docs > a.js-gotop').on('click', function(event){

        event.preventDefault();

        $('html, body').animate({
          scrollTop: $('html').offset().top
        }, 500);

        return false;
      });
  </script>
<!-- .mo-footer-->
