<div class="mo-header fixed-top">
    <div class="top-header">
        <nav class="navbar navbar-toggleable-sm justify-content-start">
            <i id="menu" class="fa fa-bars "></i>
            <a class="navbar-brand" href="{{"/" | relURL}}">
                <img src="{{"images/xtg_logo.svg" | relURL}}">
            </a>

            <div class="pull-right iso-input-search" style="left:-9%;">
                <a href="https://slack.travelgatex.com" target="_blank" class="pull-right"><img alt="slack travelgatex" src="https://slack.travelgatex.com/badge.svg" /></a>
            </div>

           <!--  <div class="iso-input-search hidden-xs-down mr-auto">
                {{- if not .Site.Params.disableSearch}}
                <div class="ico-label">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input data-search-input class="form-control"  id="search-by" type="text" placeholder="Search docs...">
                <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
                <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
                <script type="text/javascript">
                    {{ if .Site.IsMultiLingual }}
                    var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
                    {{ else }}
                    var baseurl = "{{.Site.BaseURL}}";
                    {{ end }}
                </script>
                <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script> {{- end}}
            </div> -->
        </nav>
    </div>
</div>

