<!-- <div class="bottom-header material-box header-module" id="header-module">
    <div class="container">
        <ul class="nav">
            {{ range .Site.Home.Sections.ByWeight }} 
            {{if eq .Title "Products"}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle align-self-center" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{{ .Title }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    {{ with .Site.GetPage "product" "product" }}
                    <a class="dropdown-item" href="{{.Permalink}}">{{ .Title }}</a>
                    {{ end }}
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="{{.Permalink}}">
                    <div class="media">
                        <div class="media-left">
                            <div class="ico">
                                <span class="alert-ico"></span>
                            </div>
                        </div>
                        <div class="media-body hidden-sm-down">
                            <p class="desc ml-1 mb-0">{{ .Title }}</p>
                        </div>
                    </div>
                </a>
            </li>
            {{end}} {{ end }}

        </ul>
    </div>
</div> -->