<nav  class="menu-nav">
  <ul class="topics">
    {{- $currentNode := . }}
    {{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}
    
    {{- if eq .Site.Params.ordersectionsby "title"}}
      {{- range .Site.Home.Sections.ByTitle}}
      {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
      {{- end}}
    {{- else}}
      {{- range .Site.Home.Sections.ByWeight}}
      {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
      {{- end}}
    {{- end}}
    
    <!-- templates -->
    {{- define "section-tree-nav" }}
    {{- $showvisitedlinks := .showvisitedlinks }}
    {{- $currentNode := .currentnode }}
     {{- with .sect}}
      {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
        {{- safeHTML .Params.head}}
        <li data-nav-id="{{.URL}}" class="dd-item
            {{- if .IsAncestor $currentNode}} parent{{end}}
            {{- if eq .URL $currentNode.URL}} active{{end}}
            {{- if .Params.alwaysopen}} alwaysopen{{end -}}
            ">

            <a href="{{if ne .Params.isDirectory true}}{{ .RelPermalink}}{{else}}#{{end}}" class="{{if ne .Params.isDirectory false}}wasdirectory{{end}}">
       
            <span>
                {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
                {{- if ne $numberOfPages 0 }}
                {{- if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
                    <i class="fa fa-angle-down fa-lg category-icon"></i>
                {{- else -}}
                    <i class="fa fa-angle-right fa-lg category-icon"></i>
                {{- end}}
                {{- end}}
                {{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}
            </span>
    
    
            {{- if $showvisitedlinks}}<i class="fa fa-circle-thin read-icon"></i>{{end}}
          </a>
          {{- if ne $numberOfPages 0 }}
            <ul>
              {{- .Scratch.Set "pages" .Pages }}
              {{- if .Sections}}
              {{- .Scratch.Set "pages" (.Pages | union .Sections) }}
              {{- end}}
              {{- $pages := (.Scratch.Get "pages") }}
    
            {{- if eq .Site.Params.ordersectionsby "title"}}
              {{- range $pages.ByTitle }}
                {{- if and .Params.hidden (not $.showhidden) }}
                {{- else}}
                {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
                {{- end}}
              {{- end}}
            {{- else}}
              {{- range $pages.ByWeight }}
                {{- if and .Params.hidden (not $.showhidden) }}
                {{- else}}
                {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
                {{- end}}
              {{- end}}
            {{- end}}
            </ul>
          {{- end}}
        </li>
      {{- else}}
        {{- if not .Params.Hidden }}
          <li data-nav-id="{{.URL}}" class="dd-item
         {{- if eq .URL $currentNode.URL}} active{{end -}}
          ">
            <a href="{{ .RelPermalink}}">
              <span style="padding-left: 8px;">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</span>
              {{- if $showvisitedlinks}}<i class="fa fa-circle-thin read-icon"></i>{{end}}
            </a>
        </li>
         {{- end}}
      {{- end}}
     {{- end}}
    {{- end}}    
      
  </ul>
</nav>


<script type="text/javascript">
 // Functions
  function resizeElements(){
    const footer = $('#footer_docs');
    const winWidth = $(window).outerWidth();
    const navWidth = $('#navbar').outerWidth();
    const newFooterWidth = winWidth - navWidth;
    
    footer.css({"width":`${newFooterWidth}px`,"left":navWidth+"px"});
    setTimeout(_=>{
      if(winWidth > 767)
        footer.show(); 
      else
        footer.hide(); 
      $('#navigation').show()
      },0);
  }
  $(document).ready(()=>{
    const schemaLIs = $('li[data-nav-id="/travelgatex/reference/schema/"]').find('ul').children();
    if((schemaLIs || []).length){
      $(schemaLIs)[0].prepend($(schemaLIs)[1]);
    }
    resizeElements();
    $(window).resize(resizeElements);
    $('#navbar').resize(resizeElements);

    $('.directory').click((event)=>{
      if($(event.currentTarget.parentElement).hasClass("parent")){
        $(event.currentTarget.parentElement).removeClass("parent")
        $(event.currentTarget).find('.category-icon')[0].setAttribute("class","fa fa-angle-right fa-lg category-icon");
      }else{
        $(event.currentTarget).find('.category-icon')[0].setAttribute("class","fa fa-angle-down fa-lg category-icon"); 
        event.currentTarget.parentElement.setAttribute("class","dd-item parent"); 
      }
     return false;
    })

    $('#menu').click((event)=>{
      if($('#navbar').hasClass('toogled')){
        $('#navbar').removeClass('toogled');
        // $('#backgroundMenu').removeClass('toogled');
      }else{
        $('#navbar').addClass('toogled');
        // $('#backgroundMenu').addClass('toogled');
      }
    });

    $('#backgroundMenu').click((event)=>{
      $('#navbar').removeClass('toogled');
      $('#backgroundMenu').removeClass('toogled');
    });

     $('#TableOfContents a[href^="#"]').click(function() {
       console.log('table of contents');
      var target = $(this.hash);
      if (target.length == 0) target = $('a[name="' + this.hash.substr(1) + '"]');
      if (target.length == 0) target = $('html');
      $('html, body').animate({ scrollTop: target.offset().top-150 }, 500);
      return false;
  });

    $('a[href^="#"].gotop').on('click',function (e) {
	    e.preventDefault();
      $('html, body').animate({
        scrollTop: 0
      }, 500);
	  });
  })

</script>