<footer id="footer" role="contentinfo">
	<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
  <div class="top-footer hidden-sm-down">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Company</h5>
          <div class="separator"></div>
          <ul class="list-unstyled">
            <li><a href="https://www.xmltravelgate.com/">XML Travelgate</a></li>
            <li><a href="#">The Team</a></li>
            <li><a href="#">The Numbers</a></li>
            <li><a href="#">The Platform</a></li>
            <li><a href="#">The Booking Globe</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Products</h5>
          <div class="separator"></div>
          <ul class="list-unstyled">
            <li><a href="https://www.travelgatex.com/products/hotelx">HotelX</a></li>
            <li><a href="https://www.travelgatex.com/products/channelx">ChannelX</a></li>
            <li><a href="https://www.travelgatex.com/products/flightsx">FlightsX</a></li>
            <li><a href="https://www.travelgatex.com/products/mappea">Mappea</a></li>
            <li><a href="https://www.travelgatex.com/products/inventory">Inventory</a></li>
            <li><a href="https://www.travelgatex.com/products/speed">Speed</a></li>
            <li><a href="https://www.travelgatex.com/products/insights">Insights</a></li>
            <li><a href="https://www.travelgatex.com/products/distribution">Distribution</a></li>
            <li><a href="https://www.travelgatex.com/products/stats">Stats</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Services</h5>
          <div class="separator"></div>
          <ul class="list-unstyled">
            <li><a href="#">Optimization</a></li>
            <li><a href="#">Consultancy</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Training</a></li>
            <li><a href="#">Reciprocals</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Partners</h5>
          <div class="separator"></div>
          <ul class="list-unstyled">
            <li><a href="#">Why partner with us?</a></li>
            <li><a href="#">Register as a new partner</a></li>
            <li><a href="#">Partner Directory</a></li>
            <li><a href="#">Partner Testimonials</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Developers</h5>
          <div class="separator"></div>
          <ul class="list-unstyled">
            <li><a href="http://docs.travelgatex.com/" style="opacity: 1;">Documentation</a></li>
            <li><a href="http://docs.travelgatex.com/getting-started/" style="opacity: 1;">API Reference</a></li>
            <li><a href="http://status.travelgatex.com/" style="opacity: 1;">API Status</a></li>
            <li><a href="https://github.com/travelgateX" style="opacity: 1;">Open Source</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
          <h5 class="tit">Resources</h5>
          <div class="separator"></div>
          <ul class="list-unstyled">
            <li><a href="#">Support Center</a></li>
            <li><a title="TGX" target="_blank" href="https://www.travelgatex.com/contact" style="opacity: 1;">Contact us</a></li>
            <li><a href="#">White Papers</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a title="Blog" target="_blank" href="https://blog.xmltravelgate.com/tagged/traveltech" style="color: white;font-weight: bold;">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="text-center list-inline">
            <li class="list-inline-item"><img class="certification" src="../images/footer_images/logo_pci.png" alt="png"></li>
            <li class="list-inline-item"><img class="certification" src="../images/footer_images/logo_microsoft.png" alt="microsoft"></li>
            <li class="list-inline-item"><img class="certification" src="../images/footer_images/logo_google.png" alt="google"></li>
            <li class="list-inline-item"><img class="certification" src="../images/footer_images/logo_ndc.png" alt="ndc"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="hidden-sm-down col-md-2">
				<a title="TGX" target="_blank" href="https://www.travelgatex.com/">
          <img src="../images/xtg_logo.svg" alt="travelgatex_logo">
					</a>
        </div>
        <div class="col-sm-12 col-md-8">
          <p class="copyright text-center">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
        </div>
        <div class="hidden-sm-down col-md-2">
          <ul class="social social-circle">
						<li><a href="https://twitter.com/travelgatex?lang=es"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/XmlTravelgate"><i class="icon-facebook"></i></a></li>
						<li><a href="https://es.linkedin.com/company/xml-travelgate"><i class="icon-linkedin"></i></a></li>
					</ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- .mo-footer-->
