	<section id="fh5co-welcome" data-section="welcome">
		<div class="gradient"></div>
		<div class="wrap-inner">
			<div class="container">
				<div class="row">
					<div class="col-xs-7">
						<img src="images/map.png">
					</div>
					<div class="col-xs-5">
						<h1>{{ with .Site.Params.welcome.title }}{{ . | markdownify }}{{ end }}</h1>
						<p>{{ with .Site.Params.welcome.description }}{{ . | markdownify }}{{ end }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

