<div>
    <table id="table_deprecated" class="table table-condensed table-bordered"></table>
    <style>
        #table td,
        #table th {
            word-wrap: break-word;
        }

        .inner-table td {
            border: none !important;
        }

        .info-hidden, .isRowHidden {
            display: none;
        }
        h3.card-title {
            margin-top: .5rem !important;
        }
    </style>
    <script>

        // let otherLog
        $(document).ready(function () {
            const log = {{.Page.Params.log }}
            if(false){

            createTable(log);
            }
        });


        function createTable(log) {
            const keys = Object.keys(log);

            const $table = $('#table_deprecated');
            const $tbodies = [];

            for (const [key, fields] of Object.entries(log)) {
                const $tbody = $(`<tbody date=${key}>`);
                const fieldLength = fields.length;
                $tbody.append($("<tr>").append($(`<td rowspan=${fieldLength + 1} colspan="1">${key}</td><td class="isRowHidden" colspan="3">SHOW DEPRECATED FIELDS</td>`).click(function(){
                    const $elem = $(this);
                    const $isRowHidden = $elem.parent().children().last();

                    const time = ($isRowHidden.css('display') === 'none') ? 300 : 0;
                    console.log(time);
                    setTimeout(_=>$isRowHidden.toggleClass('isRowHidden'), time);   

                    $elem.parent().siblings('tr').fadeToggle();                                    
                })));

                $trs = [];
                for (const field of fields) {
                    const $tr = $(`<tr fname=${field.name}>`);
                    const $td = $(`<td colspan="3">`);

                    const $tdTable = buildInnerTable(field);

                    $td.append($tdTable)

                    $tr.append($td);
                    $trs.push($tr);
                }

                $trs.map($tr => $tbody.append($tr));

                $tbodies.push($tbody);
            }
            $tbodies.map($tbody => $table.append($tbody))
        }


        function buildInnerTable(field) {
            $tdTable = $('<table id="table">').addClass('table table-condensed inner-table');
            //Build inner table head body
            const $tdTableHB = $('<tbody>');
            const $tdTableHBTitles = $('<tr>').append($('<th>').text('Name')).append($('<th>').text('URL'));
            const $tdTableHBData = $('<tr>').append($('<td>').text(field.name)).append($('<td>').text(field.url));

            $tdTableHB.append($tdTableHBTitles);
            $tdTableHB.append($tdTableHBData);

            //Event to show info div 
            $tdTableHB.click(function () {
                $(this).next().toggleClass('info-hidden');
            });

            $tdTable.append($tdTableHB);


            //Build inner table information body
            const $tdTableInfoBody = $('<tbody>').addClass('info-hidden');
            const $tdTableInfoBodyDataRow = $('<tr>');
            const $tdTableInfoBodyDataCell = $('<td colspan="2">');
            const $tdTableInfoBodyDataDiv = $('<div>');

            datesContent = `<div class="card d-flex flex-row" style="width:100%">
                                <div class="card-body">
                                    <h3 class="card-title">Deprecation Date</h3>
                                    <br>
                                    <p>No date avilable</p>
                                </div>
                            </div>`;

            if(field.deprecationDate){

                const deprecationDateFormatted = new Date(field.deprecationDate).toLocaleString().split(' ')[0];

                const deletionDate = new Date(new Date(field.deprecationDate).getTime() + 7776000000);
                let deletionDateFormatted = '';
                if(deletionDate instanceof Date && !isNaN(deletionDate)){
                    deletionDateFormatted = deletionDate.toLocaleString().split(" ")[0];
                }
                
                let daysRemaining = (new Date(deletionDate.getTime()) - new Date().getTime());
                if(daysRemaining >=0){
                    daysRemaining = Math.floor(daysRemaining / 86400000)
                }else{
                    daysRemaining = "Already passed";
                }
                
                datesContent = `<div class="card d-flex flex-row" style="width:100%">
                                            <div class="card-body">
                                                <h3 class="card-title">Deprecation Date</h3>
                                                <br>
                                                <p>${deprecationDateFormatted}</p>
                                            </div>
                                            <div class="card-body">
                                                <h3 class="card-title">Deletion Date</h3>
                                                <br>
                                                <p>${deletionDateFormatted}</p>
                                            </div>
                                            <div class="card-body">
                                                <h3 class="card-title">Days remaining</h3>
                                                <br>
                                                <p>${daysRemaining}</p>
                                            </div>
                                        </div>`;
            }

            const descriptionContent = `<div class="card" style="width:100%">
                                    <div class="card-body">
                                        <h3 class="card-title">Description</h3>
                                        <br>
                                        <p>${field.description}</p>
                                    </div>
                                  </div>`;
            const deprecationReasonContent = `<div class="card" style="width:100%">
            <div class="card-body">
                <h3 class="card-title">DeprecationReason</h3>
                <br>
                <p>${field.deprecationReason}</p>
            </div>
            </div>`;
            const argsContent = `<div class="card" style="width:100%">
                                    <div class="card-body">
                                        <h3 class="card-title">Arguments</h3>
                                        <br>
                                        <pre>${JSON.stringify(field.args, undefined, 2)}</pre>
                                    </div>
                                  </div>`;

            $tdTableInfoBodyDataDiv
                .append($('<div class="col-md-12">').html(datesContent))
                .append($('<div class="col-md-6">').html(descriptionContent + deprecationReasonContent))
                .append($('<div class="col-md-6">').html(argsContent));
            // .append($('<td>').append($('<div>').text("INFORMATION")));
            $tdTableInfoBodyDataCell.append($tdTableInfoBodyDataDiv);
            $tdTableInfoBodyDataRow.append($tdTableInfoBodyDataCell);
            $tdTableInfoBody.append($tdTableInfoBodyDataRow);

            $tdTable.append($tdTableInfoBody);

            return $tdTable;
        }
    </script>
</div>
