<div class="highlight">
    <ul class="code">
        <li><span class="keyword operator ts">{{$.Page.Params.operator}}</span> <span class="identifier">{{ $.Page.Params.typename }}</span> {</li>
        {{range $.Page.Params.fields}}
            {{if .args}}
                {{if gt (len .args) 2}}
                    <li>
                        <span class="tab">
                            <span class="meta">{{.name}}</span>(
                        </span>
                    </li>
                    {{- template "args" .args}}
                    <li>
                        <span class="tab">
                            ): <a class="support type" href="{{.url}}">{{.typeString}}</a> 
                        </span>
                    </li>
                {{else}}
                    <li>
                        <span class="tab">
                            <span class="meta">{{.name}}</span>({{- template "argsInLine" .args}}): <a class="support type" href="{{.url}}">{{.typeString}}</a> 
                        </span>
                    </li>
                {{end}}
            {{else}}
                <li>
                    <span class="tab">
                        {{template "nameType" .}} 
                    </span>
                </li>
            {{end}}
        {{end}}

        {{if $.Page.Params.deprecatedFields}}
            <div class="deprecated-button-container" >
                <button class="btn btn-sm btn-info" onclick="toggleDeprecatedEntitiesContainer(this)">Show deprecated fields</button>
            </div>
            <div class="deprecated-entities-container">
            {{range $.Page.Params.deprecatedFields}}
                {{if .args}}
                    {{if gt (len .args) 2}}
                        <li>
                            <span class="tab">
                                <span class="meta">{{.name}}</span>(
                            </span>
                        </li>
                        {{- template "args" .args}}
                        <li>
                            <span class="tab">
                                ): <a class="support type" href="{{.url}}">{{.typeString}}</a> 
                            </span>
                            {{if .deprecationReason}}
                            <span class="text-secondary">// {{.deprecationReason}}</span>
                            {{end}}
                        </li>
                    {{else}}
                        <li>
                            <span class="tab">
                                <span class="meta">{{.name}}</span>({{- template "argsInLine" .args}}): <a class="support type" href="{{.url}}">{{.typeString}}</a> 
                            </span>
                            {{if .deprecationReason}}
                            <span class="text-secondary">// {{.deprecationReason}}</span>
                            {{end}}
                        </li>
                    {{end}}
                {{else}}
                <!-- DEPRECATED INPUT (DOES NOT HAVE ARGS) -->
                <li>
                        <span class="tab">
                            <span class="meta">{{.name}}: : <a class="support type" href="{{.url}}">{{.typeString}}</a> <span class="text-secondary">// 
                                {{if .descriptionSplitted}}
                                {{.descriptionSplitted.first}}
                                <a href="/travelgateX/reference/changelog/#{{.descriptionSplitted.date}}">{{.descriptionSplitted.date}}</a>
                                {{.descriptionSplitted.second}}
                                {{end}}
                            </span></span>
                        </span>
                    </li>
                {{end}}
            {{end}}
            </div>
        {{end}}
        <li>}</li>
    </ul>
</div>


{{- define "nameType" }}
<span class="meta">{{.name}}</span>: <a class="support type" href="{{.url}}">{{.typeString}}</a> 
{{- end }}

{{define "argsInLine"}}
{{- range .}}{{- template "nameType" .}},{{- end}}
{{end}}

{{define "args"}}
{{- range .}}
<li>
    <span class="tab">
        <span class="tab">
            {{- template "nameType" .}},
        </span>
    </span>
</li>
{{- end}}
{{end}}