<script>
  const token = {{ $.Page.Params.ak }};
  const default_user = {{ $.Page.Params.default_user }};
  const gists = {{ $.Page.Params.gists }};

  $(document).ready(main);
  function main() {
    const tabsText = $('#tabsText').text();

    const promises = []

    for (const gist of gists) {
      if (gist.g) {
        //Añadir tab
        const tabLI = `<li class="tab">
          <label for='${gist.g}'>${gist.n}<\/label>
       <\/li>`;
        $('#tabMenu').append(tabLI);
        // Añadir cuerpo del tab de los gist

        var substring = tabsText.indexOf(gist.g) !== -1 ? tabsText.substring(
          tabsText.indexOf(gist.g) + 1 + gist.g.length,
          tabsText.lastIndexOf(gist.g) - 1
        ) : '';

        const text = `<p>${substring.trim() ? substring.split('\n').join('<br>') : ''}<\/p>`;

        const pannelTabs = [];
        for (const option of gist.o) {
          pannelTabs.push(`<li class="tab ${(gist.o[0] === option ? 'default-tab' : '')}"><label>${option}<\/label><\/li>`)
        }

        const tab = `<div id='${gist.g}' class='tab-panel'>
          <div class='explanation'>${text}<\/div>
          <ul class='tab-pannel-nav nav tabs'>${pannelTabs.join('')}<\/ul>
            <div class="general-display">
            ${(gist.o || []).includes('graphiql') ? "<div class='graphiql display " + (gist.o[0] === 'graphiql' ? 'default-display' : '') + "'><\/div>" : ""}
            ${(gist.o || []).includes('curl') ? "<div class='curl display " + (gist.o[0] === 'curl' ? 'default-display' : '') + "'><\/div>" : ""}
            ${(gist.o || []).includes('other') ? "<div class='other display" + (gist.o[0] === 'other' ? 'default-display' : '') + "'><\/div>" : ""}
          <\/div>
        <\/div>`;
        $('#tabContent').append(tab);

        promises.push(iterateQueries(gist));
      }
    }

    Promise.all(promises).then(_ => {
      // Find execute button on each graphiql display and append it to tab
      $.each($('#tabContent > div'), (i, elem) => {
        const button = $(elem).find('button.execute-button').first();
        $(elem).find('.graphiql.display').first().append(button);
      });

      //Activate first tab and pannel of outer tabs
      $('#tabMenu > li > label').first().parent().toggleClass('active');

      $('#tabContent > div').first().toggleClass('active-tab-panel');

      //Activate first tab of inner tabs and add onclick element to them
      $.each($('.general-display'), (i, elem) => {
        $(elem).children('.default-display').first().removeClass('default-display').toggleClass('active');
      });
      $.each($('.tab-pannel-nav'), (i, elem) => {
        $(elem).children().on('click', function () {
          $(this).siblings().removeClass('active');
          $(this).toggleClass('active');

          const tabClass = '.' + $(this).children().first().text();
          const tab = $(this).parent().next().children(tabClass).first();
          tab.siblings().removeClass('active');
          tab.toggleClass('active');
        });
        $(elem).children('.default-tab').first().toggleClass('active');
      //   $.each($('#tabMenu > li.default-tab'), (i, elem) => {
      //   $(elem).removeClass('default-tab').toggleClass('active');
      // });seguir aqui
      });

      // Add onclick event to outer tabs to allow navigation between them
      $('#tabMenu > li > label').on('click', function () {
        $(this).parent().siblings().removeClass('active');
        $(this).parent().toggleClass('active');
        const tab = $('#' + $(this).attr('for'));
        tab.siblings().removeClass('active-tab-panel');
        tab.toggleClass('active-tab-panel');
      });

      // Hides loading gif and shows tabs
      $('#tab-holder').addClass('show-tabs');
      $('#pulse-holder').hide();
    });
  }

  function iterateQueries(gist) {
    const url = "https://gist.githubusercontent.com/" + (gist.u || default_user) + "/" + gist.g + "/raw";
    return new Promise(resolve => {
      $.get(url, function (data) {
        renderGist({ gist: gist, data: data });
        resolve();
      });
    })
  }

  function renderGist(q) {
    /**
       * This GraphiQL example illustrates how to use some of GraphiQL's props
       * in order to enable reading and updating the URL parameters, making
       * link sharing of queries a little bit easier.
       *
       * This is only one example of this kind of feature, GraphiQL exposes
       * various React params to enable interesting integrations.
       */
    var fetchURL = 'https://api.travelgatex.com';

    // Parse the search string to get url parameters.
    var search = window.location.search;
    var parameters = {};
    search.substr(1).split('&').forEach(function (entry) {
      var eq = entry.indexOf('=');
      if (eq >= 0) {
        parameters[decodeURIComponent(entry.slice(0, eq))] =
          decodeURIComponent(entry.slice(eq + 1));
      }
    });

    // if variables were provided, try to format it. 
    parameters.variables = ''; // TODO

    const formattedQuery = q.data;
    parameters.query = formattedQuery;

    if (parameters.variables) {
      try {
        parameters.variables =
          JSON.stringify(JSON.parse(parameters.variables), null, 2);
      } catch (e) {
        // Do nothing, we want to display the invalid JSON as a string, rather
        // than present an error.
      }
    }

    // When the query and variables string is edited, update the URL bar so
    // that it can be easily shared

    function onEditQuery(newQuery) {
      parameters.query = newQuery;
      // updateURL();
    }

    function onEditVariables(newVariables) {
      parameters.variables = newVariables;
      // updateURL();
    }

    function onEditOperationName(newOperationName) {
      parameters.operationName = newOperationName;
      // updateURL();
    }

    function updateURL() {
      var newSearch = '?' + Object.keys(parameters).filter(function (key) {
        return Boolean(parameters[key]);
      }).map(function (key) {
        return encodeURIComponent(key) + '=' +
          encodeURIComponent(parameters[key]);
      }).join('&');
      history.replaceState(null, null, newSearch);
    }

    // Defines a GraphQL fetcher using the fetch API. You're not required to
    // use fetch, and could instead implement graphQLFetcher however you like,
    // as long as it returns a Promise or Observable.
    function graphQLFetcher(graphQLParams) {
      // This example expects a GraphQL server at the path /graphql.
      // Change this to point wherever you host your GraphQL server.
      return fetch(fetchURL, {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': q.gist.ak ? 'Apikey ' + q.gist.ak : token
        },
        body: JSON.stringify(graphQLParams),
        //  credentials: 'include',
      }).then(function (response) {
        //console.log(fetchURL,graphQLParams);
        return response.text();
      }).then(function (responseBody) {
        try {
          return JSON.parse(responseBody);
        } catch (error) {
          return responseBody;
        }
      });
    }

    // Render <GraphiQL /> into the body.
    // See the README in the top level of this module to learn more about
    // how you can customize GraphiQL by providing different values or
    // additional child elements.
    ReactDOM.render(
      React.createElement(GraphiQL, {
        fetcher: graphQLFetcher,
        query: parameters.query,
        variables: parameters.variables,
        operationName: parameters.operationName,
        onEditQuery: onEditQuery,
        onEditVariables: onEditVariables,
        onEditOperationName: onEditOperationName
      }),
      document.getElementById(q.gist.g).querySelector('div.graphiql.display')
      , _ => {
        // Callback. Maybe usable to return promises
      }
    );
  }
</script>