{{- $description := .Get "description" | default ""}}
{{- $usage := .Get "usage" | default ""}}
{{- $inputs := .Get "inputs" | default ""}}
{{- $outputs := .Get "outputs" | default ""}}

{{- if $description}}
    <h3>Description</h3>
    <p>{{$description}}</p>
{{- end}}

{{- if $usage}}
    <h3>Usage</h3>
    <p>{{$usage}}</p>
{{- end}}

{{- if $inputs}}
    <h3>Inputs</h3>
    <ul>
        {{- range $inputs}}
            <li>{{.}}</li>
        {{- end}}
    </ul>
{{- end}}

{{- if $outputs}}
<h3>Outputs</h3>
<p>{{$outputs}}</p>
{{- end}}