<p><strong>Under construction!</strong>
We have logged this resource on our roadmap and we are currently working through extending all of the resources in our documentation. If you need specific resources (such as this page), please let us know by using one of the following channels:</p>
<ul>
<!-- <li>Join us on <a href="https://slack.travelgatex.com/">Slack</a> and let us know what resources you need us to prirotize</li> -->
<li>Send us a <a href="https://xmltravelgate.atlassian.net/servicedesk/customer/portal/7">Jira service desk request</a></li>
<li>Log an <a href="https://github.com/travelgateX/Issue-tracker">issues request</a> with us</li>
<li>Write this page yourself! If you have experience in solving this topic, we would love your contribution. Please click on the  <code style="font-family: Menlo, Consolas, &quot;DejaVu Sans Mono&quot;, monospace;">Edit page</code>  button and issue a Pull Request via GitHub with your suggested edits.</li>
</ul>
